html{
	scroll-behavior: smooth;
}

header > div {
	background-image: url("../img/stockholm.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 80vh;
}

header > div > div {
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(245, 222, 179, 0.5);
	padding: 10px;
	color: black;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#dots {
	margin-top: 5px;
	margin-bottom: 1rem;
	position: sticky;
	top: 0px;
	padding-bottom: 4rem;
	z-index: 2;

	transition: all .2s ease;
}

#dots.scrolled {
	padding-bottom: 0;
	padding-top: 1.5rem;
}

#dots {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(134, 239, 239, 0.6);
}

@media (max-width: 767.98px) {
	#dots {
		display: none;
	}
}

#dots > div {
	margin: auto -1px;
	/*background: linear-gradient(to right, #d7ff00, #d7ff00 47%, #000 47%);*/
	background-color: black;
	cursor: pointer;
}

#dots > div:first-child {
	border: 5px solid gold;
}

#dots > div > a {
	transform: rotateZ(-45deg);
	display: inline-block;
	margin-top: 40px;
	margin-left: -20px;
	color: darkgreen;

	transition: all .4s ease;
}

#dots.scrolled > div > a {
	position: relative;
	top: -3rem;

	transform: none;
	display: block;
	margin-top: inherit;
	margin-left: inherit;
}

section:first-of-type p {
	margin-bottom: 0.3rem;
}

section:first-of-type img{
	border: none;
	padding: 0;
	cursor: pointer;
	box-shadow: 6px 25px 19px -12px rgba(0,0,0,1);
	border-radius: 30%;
	background-color: transparent;
	margin-bottom: 1rem;
}

section:first-of-type img:active{
	box-shadow: 6px 20px 19px -12px rgba(0,0,0,1);
	translate: 0 5px;
}

iframe {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 70vw;
	height: calc(70vw / 1.777);
}

.tmp {
	background-color: yellow;
}

img, iframe {
	border: 2px dashed black;
	border-radius: 5px;
	padding: 3px;
	background-color: #ddd;
}

img + p {
	text-align: center;
}

footer {
	background-color: rgb(179, 250, 250);
	display: flex;
	justify-content: space-evenly;
}

#buyers img {
	position: relative;
	left: 50%;
	top: 0;
	translate: -50%;
	width: 50%;
}

#buyers .col-md-6:nth-child(2) img, #buyers .col-md-6:nth-child(2) p {
	transform: scaleX(-1);
	filter: hue-rotate(30deg);
}

@media (max-width: 991.98px) {
	#buyers img {
		width: 100%;
	}
}

section {
	scroll-margin-top: 5rem;
}

h3 > span {
	font-size: 0.8rem;
	position: relative;
	top: -0.2rem;
}

.popup {
	z-index: 999;
	position: fixed;
}

.popup > div {
	display: inline-block;
	position: absolute;
	height: 2rem;
	width: 100%;
	top: -1.5rem;
	background-color: rgb(176, 175, 175);
	z-index: 1000;
	color: white;
	padding-left: 5px;
	cursor: grab;
}

.popup img {
	display: inline;
	border: 5px solid rgb(176, 175, 175);
	border-radius: 0;
	padding: 0;
	position: relative;
	top: 0;
	user-select: none;
	cursor: pointer;
}

.popup p {
	display: inline-block;
	position: absolute;
	right: 5px;
	top: -1.25rem;
	color: black;
	background-color: lightcoral;
	border-radius: 100%;
	padding: 0px 0.5rem;
	cursor: pointer;
	z-index: 1001;
	user-select: none;
}